<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置文件 -->
    <import resource="spring-properties.xml"/>
    <!-- springmvc配置 -->
    <import resource="spring-mvc.xml"/>
    <!--定时及异步任务配置-->
    <import resource="spring-task.xml"/>
    <!-- redis相关配置 -->
    <import resource="spring-redis-single.xml"/>
    <!-- 数据源与mybatis相关配置 -->
    <import resource="spring-mybatis.xml"/>
</beans>
