<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserMapper接口方法提供sql语句配置 -->
<mapper namespace="com.qiqi.juint.test.dao.UserMapper">

    <select id="getUserInfo" parameterType="Integer" resultType="com.qiqi.juint.test.model.vo.UserVO">
        SELECT
        `id` as id,
        `age` as age,
        `name` as name
        FROM
           user
        WHERE age = #{age};
    </select>

    <insert id="inserUser">
        INSERT INTO user
        (`age`, name)
        VALUES
        (#{user.age},#{user.name}) ;
    </insert>
</mapper>